*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: lightblue;
    color:#333;
    text-align: center;
    line-height: 3;
}

.section{
    padding:40px 20px;
    background-color: lightpink;
}

.hero{
    padding:50px 20px;
}

.hero h1{
    font-size:34px;
}

.grid{
    display:grid;
    gap: 10px;
}

.grid div{
    background-color:aliceblue;
    padding: 20px;
    border-radius: 40px;
}

@media (max-width: 768px){
    .hero h1{font: size 40px;}
}

@media (max-width: 768px){
  body{background: #dfa36a;}
}

@media (max-width: 768px){
    .section{background-color: #ace9da;}
}


.hero-text{
    display:flex;
    flex-direction: column;
}

.hero img{
    border-radius: 50%;
}