*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: lightblue;
    color:#2591a9;
    text-align: center;
    line-height: 3;
}

.section{
    padding:40px 20px;
    background-color: lightpink;
    color:deeppink
    
}

.hero{
    padding:50px 20px;
}

.hero h1{
    font-size:34px;
}

.grid{
    display:grid;
    gap: 10px;
}

.grid div{
    background-color:rgb(252, 233, 241);
    padding: 20px;
    border-radius: 40px;
}




@media (max-width: 768px){
    .hero h1{font: size 40px;}
}

@media (max-width: 768px){
  body{background: #dfa36a;}
}

@media (max-width: 768px){
    .section{background-color: #fff8cb;}
}

@media (max-width: 768px){
    body{color:pink}
}

@media (max-width: 768px){
    .section{color:rgba(255, 20, 145, 0.811)}
}


.hero-text{
    display:flex;
    flex-direction: column;
}

.hero img{
    border-radius: 50%;
}